@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quantico&display=swap');

/* ----RESET & SETTINGS SECTION---- */
html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, section, footer, hr iframe, header {
  margin: 0;
  padding: 0;
}

.about, .projects, .contact {
  margin-top: 80px;
  margin-bottom: 80px;
}

hr {
  width: 80%;
}

.container {
  margin-left: 25px;
  margin-right: 25px;
}

.container-header {
  margin: 0 25px;
}

h2 {
  font-family: 'Quantico', sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2;
}

span {
  font-family: 'Quantico', sans-serif;
}

/* ----BUTTONS SECTION---- */
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #ff214f;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 20px 45px;
  margin: 55px 0;
}

.btn:hover {
  background-color: #000;
  transition-duration: .6s;
  cursor: pointer;
}

/* ----LINKS SECTION---- */
a:link {
  text-decoration: none;
  color: #222;
  box-shadow: inset 0 -0.1em #ff214f;
  transition: all .4s cubic-bezier(.15,.53,.35,1);
}

a:visited {
  color: #222;
}

a:hover {
  box-shadow: inset 0 -0.4em #000;
}

a:active {
  color: #222;
}

/* ----HEADER SECTION---- */
.container-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: none;
}

nav a:link {
  box-shadow: none;
}

.link-logo:link {
  box-shadow: none;
}

.link-logo:hover {
  box-shadow: none;
}

.logo-sm {
  width: 30px;
  margin: 18px 10px 0 0;
}

.logo-lg {
  display: none;
}

nav ul li {
  display: inline;
  padding: 0 7px;
  font-family: 'Quantico', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

 nav ul {
  padding: 30px 0;
  margin: 0;
}

/* ----HERO SECTION---- */
.hero {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(135deg, rgb(9, 120, 166), rgb(251, 148, 71) 75%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-family: 'Quantico', sans-serif;
  margin-bottom: 0;
}

.hero img {
  margin: 0;
  max-width: 200px;
  border-radius: 100%;
  border: 5px solid rgba(255,255,255,.08);
}

.hero p {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
}

/* ----ABOUT SECTION---- */
.about p {
  text-align: justify;
}

.about div {
  text-align: center;
}

/* ----PROJECTS SECTION---- */
.project-box {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 20px rgba(0,0,0,.2);
  padding: 20px;
  margin: 25px 0;
  text-align: justify;
}

.project-box img {
  width: 100%;
  border: 1px solid rgba(90, 90, 90, 0.08);
  box-shadow: none;
}

.project-box > a:link, .project-box > a:hover {
  box-shadow: none;
}

.project-box h3 {
  font-family: 'Quantico', sans-serif;
  font-size: 3em;
  text-align: center;
  
}

/* ----CONTACT SECTION---- */
iframe {
  width: 100%; 
  height: 300px;
}

.map {
  margin: 50px 0;
  padding: 0;
}

/* ----FOOTER SECTION---- */
.footer {
  text-align: center;
}

/* ----TABLET SIZE SCREEN---- */
@media screen and (min-width: 480px) {
  .logo-sm {
    display: none;
  }

  .logo-lg {
    display: inline-block;
    width: 170px;
    margin: 23px 10px 0 0;
  }

  header div {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0 20%;
  }

  .about, .projects, .contact {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  header nav ul li {
    font-size: 1em;
  }
}

@media screen and (min-width: 530px) {
  /* header nav ul li {
    font-size: 1em;
  } */

  .logo-lg {
    display: inline-block;
    width: 195px;
    margin: 21px 10px 0 0;
  }
}

/* ----DESKTOP SIZE SCREEN---- */
@media screen and (min-width: 780px) {
  header {
    /* margin: 100%; */
    width: 100%;
    height: 100%;
  }

  .container-header {
    margin: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: #fff;
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.09);
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo-lg {
    display: inline-block;
    width: 195px;
    margin: 0;
    padding-top: 80px;
  }

  .desktop {
    display: block;
  }

  header nav ul li {
    display: block;
    padding: 15px 0;
    font-size: 1.2em;
    list-style-type: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  }

  header nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  header nav ul li:hover a {
    color: #ff214f;
    transition-duration: .6s;
  }
  
  main {
    margin-left: 300px;
  }

}